# Dependencias 
node_modules/
package-lock.json

# Archivos de compilación
dist/
build/

# Variables de entorno (Claves secretas)
.env
.env.local

# Logs y archivos del sistema
*.log
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/